*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# امضای اپلیکیشن (بسیار مهم)
*.jks
*.keystore
*.p12

# فایل‌های کش اندروید استودیو
.idea/
/build
.gradle/

# فایل‌های حساس محلی
local.properties

